body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    background-color: #dddddd;
}

/* nav */

nav {
    width: 100%;
}
a {
    color: #F3E8EE;
    text-decoration: none;
}
a:hover {
    color: #B54100;

}
.img-logo {
    width: 8em;
}
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.encabezado {
    margin: 0;
    width: 100%;
    padding: 10px 0px;
    background-color: #2E2C2F;
}
.list-navbar {
    list-style: none; 
    width: 50%;
}

/* header`s media query */

@media (max-width: 425px) {
    .flex-container {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .encabezado {
        padding: 10px 0px;
    }
}

/* first section */

.section-flex-container {
    background-color: #ffffff;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 60px 80px 60px 80px;
}
.home-section{
    display: flex;
    justify-content: space-around;
}
.section-flex-container .info-container {
    width: 45%;
}
.section-flex-container .img-container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: right;
    margin: auto;
}
.company-img {
    width: 90%;
    max-width: 900px;
    border-radius: 5px;
}
.info-container h1 {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    font-weight: 900;
    color: #B54100;
}
.buttons {
    width: max-content;
    padding: 10px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 25px;
    border: none;
}
.first-button {
    background-color: #B54100;
    border: solid #B54100 2px;
    color: #ffffff;
}
.first-button:hover {
    background-color: #2E2C2F;
    border: solid #2E2C2F 2px;
}
.second-button {
    border: solid #B54100 2px;
    color: #2E2C2F;    
}
.second-button:hover {
    background-color: #B54100;
    color: #ffffff;
}

/* second section */

.section-flex-container p {
    margin: 0;
    padding-right: 10%;
    padding-left: 10%;
}

/* first section media query */

@media (max-width: 768px) {
    .section-flex-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 85%;
        padding: 10px;
    }
    .section-flex-container .info-container {
        width: 90%;
        padding: 10px;
    }
    .section-flex-container .img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0 20px 0;
    }
    .section-flex-container p:first-child {
        padding-top: 30px;
    }
    .section-flex-container p:nth-child(2) {
        padding-bottom: 30px;
    }
    .company-img {
        width: 90%;
        height: 80%;
    }
    .buttons {
        margin: 5px;
    }
}

/* third section */

.work-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-container h3 {
    font-size: 2em;
    margin-top: 0;
}
.work-container h4 {
    padding-bottom: 20px;
}
.benefits-container {
    width: 30%;
}
.benefits-container h4 {
    font-weight: 700;
}
.benefits-container img{
    width: 50%;
}
.steps-container {
    width: 20%;
}
.steps-container img{
    width: 30%;
}

/* third section media query */

@media (max-width: 425px) {
    .benefits-container, .steps-container {
        width: 85%;
        padding: 15px;
    }
    .work-container h3 {
        margin-top: 15px;
    }
}

/* fourth section */

.container-cards {
    width: 80%;
}
.card {
    width: 30%;
    box-shadow: 2px 5px 23px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 5px 23px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 5px 23px 0px rgba(0,0,0,0.5);
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    transition: transform 100ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card:hover {
    transform: scale(1.05);
}
.card a {
    color: #000000;
}
.clientes-img {
    width: 30%;
}

/* fourth section media query */

@media (max-width: 425px) {
    .container-cards {
        width: 90%;
        padding-bottom: 20px;
    }
    .card {
        width: 60%;
    }
    .clientes-img {
        width: 60%;
        padding-top: 30px;
    }
}

/* footer */

footer {
    background-color: #2E2C2F;
    color: #ffffff;
    margin-bottom: 0;
    padding: 60px 80px 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-section {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer h4 {
    font-size: 2em;
}
.footer-img-container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: right;
    margin: auto;
}
.footer-img-container img {
    width: 60%;
}
.info-footer {
    width: 50%;
}

/* media footer */

@media (max-width: 768px) {
    footer {
        padding: 10px 30px 10px 30px;
        text-align: center;
    }
    .footer-section {
        display: flex;
        flex-direction: column;
    }
    .footer-img-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer-img-container img {
        width: 80%;
    }
    .footer-section {
        width: 90%;
    }
    .info-footer {
        width: 100%;
    }
}