body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    background-color: #dddddd;
}

/* nav */

nav {
    width: 100%;
}
a {
    color: #F3E8EE;
    text-decoration: none;
}
a:hover {
    color: #B54100;

}
.img-motocross {
    width: 8em;
}
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.encabezado {
    margin: 0;
    width: 100%;
    padding: 10px 0px;
    background-color: #2E2C2F;
}
.list-navbar {
    list-style: none; 
    width: 65%;
}

/* header`s media query */

@media (max-width: 425px) {
    .flex-container {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .encabezado {
        padding: 10px 0px;
    }
}

/* first section */

.section-flex-container {
    background-color: #ffffff;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 60px 80px 60px 80px;
}
.home-section{
    display: flex;
}
.section-flex-container .info-container {
    width: 45%;
}
.section-flex-container .img-container {
    width: 100%;
    display: flex;
    justify-content: right;
}
.company-img {
    width: 75%;
    height: 100%;
    border-radius: 5px;
}
.h1-text {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    font-weight: 900;
    color: #B54100;
}
.buttons {
    width: max-content;
    padding: 10px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 25px;
    border: none;
}
.first-button {
    background-color: #B54100;
    border: solid #B54100 2px;
    color: #ffffff;
}
.first-button:hover {
    background-color: #2E2C2F;
    border: solid #2E2C2F 2px;
}
.second-button {
    border: solid #B54100 2px;
    color: #2E2C2F;    
}
.second-button:hover {
    background-color: #B54100;
    color: #ffffff;
}

/* second section */

.section-flex-container p {
    margin: 0;
    padding-right: 10%;
    padding-left: 10%;
}

/* first section media query */

@media (max-width: 768px) {
    .section-flex-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
        padding: 0;
    }
    .section-flex-container .info-container {
        width: 90%;
        padding: 10px;
    }
    .section-flex-container .img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0 20px 0;
    }
    .section-flex-container p:first-child {
        padding-top: 30px;
    }
    .section-flex-container p:nth-child(2) {
        padding-bottom: 30px;
    }
    .company-img {
        width: 90%;
        height: 80%;
    }
    .buttons {
        margin: 5px;
    }
}

/* third section */

.work-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-container h3 {
    font-size: 2em;
    margin-top: 0;
}
.work-container h4 {
    padding-bottom: 20px;
}
.benefits-container {
    width: 30%;
}
.benefits-container h4 {
    font-weight: 700;
}
.benefits-container img{
    width: 50%;
}
.steps-container {
    width: 20%;
}
.steps-container img{
    width: 30%;
}
@media (max-width: 425px) {
    .benefits-container, .steps-container {
        width: 85%;
        padding: 15px;
    }
    .work-container h3 {
    margin-top: 15px;
}
}



