body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    background-color: #EEEEEE;
}
nav {
    width: 100%;
}
a {
    color: #F3E8EE;
    text-decoration: none;
}
a:hover {
    color: #B54100;

}
.img-motocross {
    width: 8em;
}
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.encabezado {
    margin: 0;
    width: 100%;
    padding: 10px 0px;
    background-color: #2E2C2F;
}
.list-navbar {
    list-style: none; 
    width: 65%;
}
@media (max-width: 425px) {
    .flex-container {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .encabezado {
        padding: 10px 0px;
    }
}
/*section*/
.section-flex-container {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    margin-top: 20px;
    padding: 60px 80px 60px 80px;
}
.section-flex-container .info-container {
    width: 45%;
}
.section-flex-container .img-container {
    width: 100%;
    display: flex;
    justify-content: right;
}
.company-img {
    width: 500px;
    height: 400px;
    border-radius: 5px;
}
.h1-text {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    font-weight: 900;
    color: #B54100;
}
.buttons {
    width: max-content;
    padding: 10px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 25px;
    border: none;
}
.first-button {
    background-color: #B54100;
    border: solid #B54100 2px;
    color: #ffffff;
}
.first-button:hover {
    background-color: #2E2C2F;
    border: solid #B54100 2px;
}
.second-button {
    border: solid #B54100 2px;
    color: #2E2C2F;    
}
.second-button:hover {
    background-color: #B54100;
    color: #ffffff;
}
.introduccion-container {
    width: 75%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 60px 80px 60px 80px;
}
.introduccion-container p {
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}
@media (max-width: 768px) {
    .section-flex-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
        padding: 0;
    }
    .section-flex-container .info-container {
        width: 90%;
        padding: 10px;
    }
    .section-flex-container .img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0 20px 0;
    }
    .company-img {
        width: 90%;
        height: 80%;
    }
    .introduccion-container {
        width: 90%;
        padding: 0;
    }
    .introduccion-container p {
        padding: 30px;
    }
    .buttons {
        margin: 5px;
    }